.hero{
    height: 700px;
    background-image: url("../assets/main banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media(max-width: 500px){
    .hero{
        height: 500px;
    }
}